<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="/Icons/system.svg" class="icon" alt="system" />
    </div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <input formControlName="email" [(ngModel)]="user.login" type="text" id="login" class="fadeIn second" name="login" placeholder="email">
      <input formControlName="password" [(ngModel)]="user.password" type="password" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </div>
</div>
