<h1>Admin panel</h1>

<p *ngIf="!games"><em>Loading...</em></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games | paginate: { itemsPerPage: 5, currentPage: p }">
      <td>{{ game.id }}</td>
      <td>
        <button class="btn btn-link btn-sm" (click)="editGame(game)">{{ game.name }}</button>
      </td>
      <td>{{ game.description }}</td>
      <td>{{ game.price }}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteGame(game)">✕</button>
      </td>
      <td>
        <button class="btn btn-success btn-sm" (click)="addGame()">✚</button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>



