<footer>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col" style="display: flex; justify-content: center">
        <a class="icon" href="https://github.com/lsk1313">
          <img class="github" alt="github" />
        </a>
        <a class="icon" href="#">
          <img class="instagram" alt="instagram" />
        </a>
        <a class="icon" href="https://www.linkedin.com/in/vadim-lysenko-9157b0191/">
          <img class="linkedin" alt="linkedin" />
        </a>
        <a class="icon" href="skype:vadimlysenko15">
          <img class="skype" alt="skype" />
        </a>
        <a class="icon" href="https://t.me/lsk_13">
          <img class="telegram" alt="telegram" />
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-center"> GamesStore &copy; by LSK</div></div>
  </div>
  <hr />
</footer>

