.icon {
  width: 35px;
  height: 35px;
  margin: 10px;
}

.telegram {
  content: url("/Icons/telegram.svg");
}

.telegram:hover {
  content: url("/Icons/telegram2.svg");
}

.instagram {
  content: url("/Icons/instagram.svg");
}

.instagram:hover {
  content: url("/Icons/instagram2.svg");
}

.github {
  content: url("/Icons/github.svg");
}

.github:hover {
  content: url("/Icons/github2.svg");
}

.linkedin {
  content: url("/Icons/linkedin.svg");
}

.linkedin:hover {
  content: url("/Icons/linkedin2.svg");
}

.skype {
  content: url("/Icons/skype.svg");
}

.skype:hover {
  content: url("/Icons/skype2.svg");
}
