<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-7 col-lg-8 text-center">
      <div class="error">
        <h1>404</h1>
        <h2>OPPS! PAGE NOT BE FOUND</h2>
        <p>Sorry but the page you are looking for does not exist,
          have been removed, name changed or is temporarity unavailable.</p>
      </div>
    </div>
  </div>
</div>



