.error h1 {
  font-size: 15rem;
  font-weight: 900;
  letter-spacing: 1rem;
  line-height: 1.1;
  margin-bottom: 30px;
  padding: 0;
  color: #696969;
}

.error h2 {
  font-size: 25px;
  margin-bottom: 25px;
}

.error p {
  margin-bottom: 30px;
}
