<form [formGroup]="gameForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <fieldset>
    <legend *ngIf="this.game === undefined">Add a new game</legend>
    <legend *ngIf="this.game !== undefined">Editing the game: "{{game.name}}"</legend>
    <div class="form-row align-items-center mb-3">
      <div class="col-sm-8">
        <input formControlName="name" type="text" class="form-control" placeholder="Game name">
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
            <span class="input-group-text">0.0</span>
          </div>
          <input formControlName="price" type="text" class="form-control" placeholder="Price">
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Description</span>
      </div>
      <textarea formControlName="description" class="form-control" aria-label="Description" rows="5"></textarea>
    </div>
    <div class="input-group mb-3">
      <div class="custom-file">
        <input [disabled]="this.gameForm.controls['imageName'].invalid" #file type="file" class="custom-file-input"
               (change)="upload(file.files, this.gameForm.controls['imageName'].value)" accept=".png, .jpg, .jpeg">
        <label class="custom-file-label">Select image</label>
      </div>
      <input formControlName="imageName" class="form-control" placeholder="Image name">
      <div class="input-group-append">
        <button [disabled]="this.gameForm.controls['imageSource'].value === null" (click)="deleteImage()" class="btn btn-outline-secondary" type="button">Delete image</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div formArrayName="categories" *ngFor="let category of gameForm.controls['categories'].controls; let i = index" class="form-check mb-3">
          <input class="form-check-input" type="checkbox" [formControlName]="i">
          <label class="form-check-label">
            {{categories[i].categoryName}}
          </label>
        </div>
      </div>
      <div class="col">
        <div *ngIf="this.game !== undefined && this.game.imageSource !== null" class="mb-3">
          <img src="{{game.imageSource}}" class="img-fluid img-thumbnail mx-auto d-block " alt="game">
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Save</button>
      </div>
      <div class="col">
        <button class="btn btn-outline-secondary btn-block btn-lg" [routerLink]="['/admin']">Discard</button>
      </div>
    </div>
  </fieldset>
</form>
